
#navigation{
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    position: absolute;
    // padding-top: 28px;
    @media #{$mobile_device} {
        padding-top: 0;
    }
    @media #{$tablet_device} {
        padding-top: 0;
    }
    @media #{$mobile_device}{
        .navbar-nav{
            background:white;
            
            .nav-link{
                color: black;
            }
        }
    }
    

    
    .navbox {
        text-transform: uppercase;
        height:80px;
       
    }
    
    .main-txt{
        padding-top: 5rem;
        color: white;
        line-height: 2rem;
    }
}


