@import "../scss/variable";
@import "../scss/responsive";
@import "../scss/mixins";

@import "../scss/elements";
@import "../scss/header";
@import "../scss/service";
@import "../scss/features";
@import "../scss/footer";
@import "../scss/contact";
@import "../scss/slider";
@import "../scss/bradcam";
@import "../scss/blog";
@import "../scss/faq";



body{
    font-family: $main_font !important;
}
.theme-color{
    color: #036562;
}
.secondary-color{
    color:#DAAD68;
}